<!--
When the user clicks submit, POST the form data to the server.
The form submission process should use the default browser action/behavior. -->

<!DOCTYPE html>
<html>
<head>
  <meta lang="en">
  <meta charset="utf-8">
  <title>
    CSV report Generator
  </title>
</head>
<body>
  <div><h1>Welcome to JSON => CSV Generator</h1></div>

  <form id="submitForm" action="http://localhost:3000/"  method="POST">
    <textarea id="csvGenerator" name="loadFile" rows="15" cols="50" placeholder="Put JSON to GENEREATE CSV"></textarea>
    <tr><br></tr>
    <input type="file" name="load" accept=".json" onchange='openFile(event)'><br>
    <tr><br></tr>
    <input type="submit" value="Submit">
  </form>
  <div style="white-space: pre-line">
  p= csv
  </div>
</body>
<script src="app.js"></script>
</html>